
  <nav class="navbar navbar-dark bg-dark px-3">
      <a href="#"><img src="logo.jpg"  alt="Logo" class="logo-img me-2 display_none" title="RGL Learning Management System"/></a>
      <span class="navbar-brand mb-0 h1 display_none">RGL LMS</span>
      <button class="btn btn-outline-light me-2" id="menuToggle" (click)="isCollapsed = !isCollapsed">☰</button>
      <div class="ms-auto d-flex align-items-center">
        <button class="btn btn-outline-light me-2 display_none1" id="themeToggle" title="Toggle Dark/Light" (click)="toggleTheme()">
          <i class="bi bi-moon-stars"></i>
        </button>
        <div class="user-menu text-light" (click)="toggleDropdown()" tabindex="0" (blur)="closeDropdown()">
          <span class="username">
            <i class="bi bi-person-circle"></i> Account Settings
          </span>
          <i class="bi bi-caret-down-fill"></i>

          <!-- Dropdown Menu -->
          <div class="dropdown-menu" *ngIf="this.dropdownOpen">
            <ul>
              <li><a class="dropdown-item" routerLink='profile' routerLinkActive="active">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  
  
  
  <div class="p-3">
      <!-- <h5><i class="bi bi-box-arrow-in-right me-1"></i> Login</h5> -->
      <ul class="nav flex-column">
        <!--Home-->
        <li class="nav-item">
          <a class="nav-link" routerLink='home'><i class="bi bi-house"></i>Home</a>
        </li>

        <!--Dashboard-->
        <!-- <li class="nav-item">
          <a class="nav-link"  routerLink='dashboard' routerLinkActive="active"><i class="bi bi-speedometer2"></i>Dashboard</a>
        </li> -->

        <!--User-->
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-between align-items-center"
            href="#usersSubmenu"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="usersSubmenu"
          >
            <span><i class="bi bi-people"></i> Users</span>
            <i class="bi bi-chevron-down small"></i>
          </a>
          <div class="collapse" id="usersSubmenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink='user' class="nav-link ps-4 bi bi-people">User List</a></li>
              <!--<li><a routerLink='/adduser' routerLinkActive="active" class="nav-link ps-4 bi bi-people">Add User</a></li>-->
            </ul>
          </div>
        </li>

        <!--Courses-->
        <li class="nav-item">
          <a
            class="nav-link d-flex justify-content-between align-items-center"
            href="#usersSubmenu1"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="usersSubmenu1"
          >
            <span><i class="bi bi-journal-text"></i> Courses</span>
            <i class="bi bi-chevron-down small"></i>
          </a>
          <div class="collapse" id="usersSubmenu1">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink='addcourses' class="nav-link ps-4 bi bi-journal-text">Courses List</a></li>
              <li><a routerLink='viewcourses' class="nav-link ps-4 bi bi-journal-text">View Courses</a></li>
            </ul>
          </div>
        </li>

        <!--Grading-->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-clipboard-check"></i> Grading</a>
        </li>

        <!--Assignments-->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-file-check"></i> Assignments</a>
        </li>

        <!--Certificate-->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-patch-check"></i> Certificate</a>
        </li>

        <!--Certificate-->
        <li class="nav-item">
          <a class="nav-link" routerLink="profile"><i class="bi bi-patch-check"></i> Profile</a>
        </li>

        <!--Settings-->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-gear"></i> Settings</a>
        </li> -->

        <!--Logout-->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-box-arrow-in-right"></i> Logout</a>
        </li> -->

        <!--Dark/Light-->
        <li class="nav-item mt-3">
          <a class="nav-link" id="themeToggleSidebar" (click)="toggleTheme()"><i class="bi bi-circle-half"></i> Dark/Light</a>
        </li>
      </ul>
    </div>





